body {
    background-color: #111;
    color: var(--main-text-color);
    margin: 0;
}

#root {
    margin: 0 auto;
    background-color: #121212;
    flex: auto;
}

#roll-display {
    width: 50vw;
    height: 30vh;
    background-color: #333;
}

#unseal {
    width: 10vw;
    height: 10vh;
}